body {
    background-color:#52a7e0;
    display: grid;
    place-items: center;
    font-family:arial;
    color:white;
}

h1{
    color:grey;
    font-family:verdana;
}
label{
  font-family: arial;
  font-size: 16px;
  color: #6F7078;
}


.maindiv{
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    margin:auto;
    border-radius:25px;
    border: 3px solid grey;

}

.btn{
  background-color: #96B4FA;
  width: 200px;
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 40px;
}



.imp{
  place-items: center;
  margin-left: 60px;
}
